@charset "UTF-8";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$mq-breakpoints: (
  'xsmall': 320px,
  'small' : 600px,
  'medium': 768px,
  'large' : 1024px,
  'xlarge': 1280px,
);

///variables

//color
$black: #222;
$white: #fff;
$pink: #f1007d;
$light-gray: #f7f7f7;

//link-color
$default-color: $pink;
$emphasized-color: lighiten(40%, $pink);

//font-size
$fs-small: 12px;
$fs-normal: 16px;
$fs-large: 20px;
$fs-xlarge: 24px;
$fs-big: 30px;

a{
	color: $default-color;
	dext-decoration: none;
	&:hover{
		color: lighten(10%, $default-color);
		text-decoration: none;
	}
}

.emphasized{
	background-color: lighiten(40%, $pink);

}
