@charset "UTF-8";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$mq-breakpoints: (
  'xsmall': 320px,
  'small' : 600px,
  'medium': 768px,
  'large' : 1024px,
  'xlarge': 1280px,
);

//color
$red: red;
$black: #222;
$white: #fff;